/* basic elements */

html  {
    font-family: Georgia;
}

body {
    padding-top: 10px; 
    text-align: center;
    background-color: rgba(211, 199, 197, 1);
    }

h3 {
 text-align: center;
}

h2  {
    text-shadow: 2px 2px #6EA8DB;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}


p   {
    display: inline-block;
    font-family: Georgia;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: auto;
    } 
    

img {
    position: relative;
    right: 400px;
    padding: 30px;
    padding-left: 100px;
    }

