/* basic elements */

html  {
    font-family: Georgia;
}

body { 
    text-align: center;
    background-color: rgba(211, 199, 197, 1);
    padding-top: 10px;
    }

h2  {
    text-shadow: 2px 2px #6EA8DB;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.img-fluid   {
    
    position: relative;
    left: 30px;
    bottom: 40px;
    top: 55px; 
}


ul {
    list-style-position: inside;
    font-weight:600;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    color: white;
    }

.btn-purchase   {
    position: relative;
    padding-left: 80px;
    padding-bottom: 60px;
    }
    
    .btn-success    {
        position: relative; 
        font-size: 20px;
        font-weight: 600;
        top: 60px;
        left: 30px;
    }
    

p   {
    display: inline-block;
    font-family: Georgia;
    font-size: 18px;
    text-align: center;
    } 
    

    
.product    {
    padding-top: 100px;
    margin: auto;
    }



