/* basic elements */

html  {
    font-family: Georgia;
}

body { 
    text-align: center;
    background-color: rgba(211, 199, 197, 1);
    padding-top: 10px;
    }

h2  {
    text-shadow: 2px 2px #6EA8DB;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

bg-color  {
    background-color: rgba(62, 69, 81, 0.7);
}


ul {
    list-style-position: inside;
    font-weight:600;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    color: white;
    }

    
    .btn-success    {
        position: relative; 
        font-size: 20px;
        font-weight: 600;
        top: 60px;
        left: 30px;
    }
    

p   {
    display: inline-block;
    font-family: Georgia;
    font-size: 18px;
    text-align: center;
    } 
    

    
.product    {
    padding-top: 100px;
    margin: auto;
    }
    
    .bg-default {
    background-color: #d81b60;
}



